/* Custom styles */
*{
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
  }
  .bg-teal {
    background-color: #00c9a8;
  }
  .text-purple {
    color: #493072;
  }
  .bg-pink {
    background-color: #fbeaff;
  }
  .bg-blue {
    background-color: #0d244d;
  }
  .text-blue-light {
    color: #cbd5e0;
  }
  .border-blue-light {
    border-color: #cbd5e0;
  }

  .custom-anime{
    border-width: 4px;
    border-color: #493072;
    animation-name:moveTorightTolift ;
    animation-duration: 4s;
    animation-delay: 500ms;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
  }
  @keyframes moveTorightTolift {
    0%{
      border-top-right-radius: 50% ;
      

    }
    50%{
      border-top-right-radius: 20% ;

    }
    100%{
      border-bottom-left-radius: 30% ;
     
    }
  }